.doc-wrapper {
  padding: $spacer-xs 0 $spacer-rg;
  @media (max-width: $screen-max) {
    padding-bottom: 0;
  }
}

.doc-description {
  font-size: ($font-size-small + 1);

  dt {
    color: $mx-lighter-gray;
    font-weight: $font-weight-light;
  }

  dd {
    color: $text-color-dark;
    font-weight: $font-weight-bold;
  }
}

.doc-content {
  background-color: $white;
  padding: ($spacer-md + 5);
}

.rss-link {
  position: relative;
  float: right;
  top: 10px;
  right: 6px;

  .rss-icon {
    height: 15px;
    width: 15px;
  }
}

// Prewview Box
#wmd-preview {
  background-color: transparent;
  float: none;
  width: auto;
  margin-top: 40px;
}

.doc_content {
  margin-bottom: 165px;
}

.doc-content-main img {
  height: auto;
  max-width: 100%;
}

.activity-thread {

  .activity-item {
    background-color: $light-gray;
    border: 1px solid $border-color;
    border-radius: 7px;
    padding: $spacer-rg;

    dl {
      margin-bottom: $spacer-sm;
    }

    dt, dd {
      color: $text-color-dark;
    }

    dt {
      font-size: ($font-size-xs - 1);
    }

    dd {
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
    }

    .activity-reply {
      background-color: $brand-lighter;
      border: 1px solid $border-color;
      border-radius: 7px;
      margin-bottom: $spacer-rg;
      margin-top: $spacer-rg;
      padding: $spacer-rg;
    }
  }

  .activity-replies {

    .subcomment-field + .activity-reply {
      margin-top: 10px;
    }

    .activity-reply {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.activity-icon {
  font-size: $font-size-small;
  display: inline;
}

.doc-headings-list {
  list-style: disc !important;
  list-style-position: inside !important;

  li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px 10px 10px 20px;
  }
}

.document-help {
  display: flex;
  margin-bottom: $spacer-xl;
  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    > div:first-child {
      margin-bottom: $spacer;
    }
  }
  @media (min-width: $screen-min) {
    padding: $spacer-md 85px;
  }
  @media (min-width: $screen-lg-min) {
    padding-left: 145px;
    padding-right: 145px;
  }

  > div {
    border: 4px solid $brand-primary;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: $spacer;
    text-align: center;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      padding: $spacer ($spacer-md + 10);
      width: 50%;

      &:first-child {
        margin-right: $spacer;
      }
    }
  }

  &__img {
    border: 1px solid $border-color-light;
    margin-bottom: ($spacer-rg - 5);
    object-fit: contain;
    padding: $spacer-xs $spacer-md;
  }

  .text-bold {
    line-height: 1.2;
  }

  &__selected {
    background-color: $brand-selected;
    position: relative;

    &::after {
      background: url("/public/images/cursor.svg") center / contain no-repeat;
      content: '';
      height: 20px;
      position: absolute;
      right: -13px;
      top: 0;
      width: 20px;
    }

    span {
      position: absolute;
      right: -13px;
      top: -30px;
      @include comment-tool();
    }
  }
}

.doc-sidebar {
  font-size: $font-size-small;
  position: sticky;
  top: calc(#{$navbar-height} + 15px);

  > div {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - (#{$navbar-height} + 15px));
    overflow-y: auto;
  }

  &__item {
    color: $text-color-dark;
    margin-bottom: $spacer-sm;

    &:visited {
      opacity: 0.85;
    }

    &:hover,
    &:focus {
      color: $text-color;
    }

    &:active {
      color: $text-color-light;
    }
  }
}
