.annotator-adder.annotator-adder {
  background-image: none;
  padding-top: $spacer-sm;

  button {
    font: 0/0 a;
    @include comment-tool();
  }
}

.annotator-editor {

  .annotator-widget.annotator-widget {
    background-color: $bg-gray-light;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 20px 0 rgba($black, 0.24);
    display: flex;
    flex-direction: column;
    min-width: 450px;
    padding: $spacer-rg;

    &::after {
      content: normal;
    }

    &::before {
      content: 'Anotación:';
      display: block;
      font: $font-weight-bold ($font-size-h3 - 2) $font-family-serif;
      margin-bottom: $spacer-sm;
    }

    .annotator-item textarea {
      background-color: $white;
      border: 1px solid $border-color-light;
      border-radius: 0;
      margin-bottom: $spacer-sm;
      min-height: 140px;

      &:focus {
        background-color:$white;
      }
    }
  }

  .annotator-controls.annotator-controls {
    background: none;
    border: none !important;
    box-shadow: none;
    order: 1;

    a {
      background-color: $brand-primary;
      background-image: none;
      border: none;
      color: $white;
      font: 0/0 a;
      padding: 3px 25px;
      text-shadow: none;

      &::after {
        content: normal;
      }

      &::before {
        display: block;
        font: $font-weight-semibold $font-size-base $font-family-serif;
        line-height: 1;
        height: 20px;
      }

      &.annotator-cancel {
        margin-right: $spacer-sm;

        &::before {
          content: 'Cancelar';
        }
      }

      &.annotator-save::before {
        content: 'Publicar';
      }
    }
  }
}
