.custom-breadcrumb {
  font-size: $font-size-small;

  a {
    color: $breadcrumb-color;

    &:hover {
      color: darken($breadcrumb-color, 15%);
    }
  }

  li {
    vertical-align: sub;

    + li::before {
      font-weight: $font-weight-semibold;
    }

    &:last-child:not(:only-child) a,
    &.active {
      font-weight: $font-weight-semibold;
    }
  }
}
