.btn {
  border: none;
}

.btn-lg {
  font-size: $font-size-base;
  padding: ($spacer - 2) 47px;
}

.btn-default {
  background-color: $gray-lighter;
  color: $brand-gray-light;
}

.btn-gray {
  background: $brand-gray;
  border: 1px solid $dark-gray;
  box-shadow: 0 2px 0 0 darken($dark-gray, 20%);
  color: white;

  &:hover,
  &:focus,
  &:active {
    color: $gray-light;
  }
}

.btn-x-md {
  padding: 3px 35px;
}

.buttons-wrapper {
  display: flex;

  .btn {
    flex-grow: 1;

    &:first-child {
      margin-right: $spacer-sm;
    }
  }
}
