.card {
  border: 1px solid $gray-light;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba($black, 0.15);
  margin-bottom: ($spacer-md + 5);
  position: relative;
  transition: $transition-base;

  &__header {
    height: 90px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__body {
    padding: ($spacer-sm - 1);
  }

  &__dates {
    display: flex;
    flex-flow: row nowrap;

    ul {
      flex-grow: 1;
      width: 50%;
    }
  }

  &__label {
    background-color: rgba($black, 0.51);
    color: $white;
    font-weight: $font-weight-semibold;
    left: 0;
    min-height: 25px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__entity {
    display: flex;
    height: 15px;
    margin-bottom: $spacer-rg;

    p {
      font-weight: $font-weight-bold;
      @include text-overflow();
    }
  }

  &:hover {
    box-shadow: 0 7px 10px rgba($black, 0.15);
  }
}
