.custom-label {
  color: $text-color-light;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
}

.custom-input {
  border-color: $brand-primary;
  border-radius: $btn-border-radius-large;

  &::placeholder {
    color: $text-color-dark;
    font-weight: $font-weight-bold;
  }

  &.select2-container.input-sm .select2-choice {
    border-color: $brand-primary;
    border-radius: $btn-border-radius-large;

    span {
      color: $text-color-dark;
      font-weight: $font-weight-bold;
    }
  }
}

textarea.input-comment {
  border-color: $border-color-light;
  border-radius: 0;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  height: 150px;
  padding: $spacer ($spacer-md + 5);
}
