:root {
  background-color: $mx-black;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: $brand-selected;
}

body {
  font-weight: 300;
  padding-top: $navbar-height;
  @media (max-width: $screen-xs-max) {
    padding-top: 50px;
  }
  @media (max-width: $screen-max) {
    font-size: ($font-size-base - 2);
  }
}

h1, h2, h3 {
  font-weight: $font-weight-bold;
}

time {
  font-size: $font-size-small;
  color: lighten($brand-gray, 28.6%);
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:active,
  &.active {
    color: $link-active-color;
  }
}

:focus {
  outline: 3px dashed $brand-danger !important;
}

blockquote {
  border-left: 10px solid $gray-lighter;
  font-size: $font-size-base;
  margin-bottom: ($line-height-computed / 2);
  padding: 0 $line-height-computed;

  p {
    margin-bottom: ($line-height-computed / 2);
  }
}

p.gray {
  color:$light-gray;
}

del {
  color:red;
}

ins {
 color:green;
}

textarea {
  resize: vertical;
}

input.disabled {
  cursor: default;
  opacity: 0.5;
}

textarea.form-inline {
  height: 150px;
  margin-top: 0;
  width: 100%;
}
