.main-banner {
  background: url("public/images/hero-pattern.png") center / cover no-repeat;
  color: $text-color-dark;

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: $spacer-xl;
    position: relative;
    @media (max-width: $screen-max) {
      padding: ($spacer-rg + 5);
    }

    &::before,
    &::after {
      content: normal;
    }
  }
}
