.link-static {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }

  &:focus {
    outline: 0;
  }
}

.link-absolute {
  color: inherit;

  &::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    color: inherit;
  }
}
