.ordered-list {
  counter-reset: li;
  list-style: none;
  margin: ($spacer-md + 5) auto $spacer-xl;
  padding-left: 85px;
  @media (min-width: $screen-xs-min) {
    width: 62%;
  }
  @media (max-width: $screen-max) {
    padding-left: $spacer-xl;
  }

  > li {
    counter-increment: li;
    margin-bottom: 35px;
    position: relative;

    &::before {
      content: counter(li);
      direction: rtl;
      font: $font-weight-bold 63px $font-family-serif;
      height: 100%;
      left: -80px;
      position: absolute;
      text-align: center;
      width: 70px;
      @include flex-center;
      @media (max-width: $screen-max) {
        font-size: 50px;
        left: -55px;
        width: 50px;
      }
    }
  }

  &--lg {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-min) {
      font-size: $font-size-h3;
      width: 90%;
    }

    li::before {
      font-size: ($font-size-h1 - 1);
    }

    hr {
      background: $brand-gray-light;
      border: none;
      height: 1px;
      margin-left: -85px;
      width: calc(100% + 85px);
    }
  }
}
