.loader {
  height: 64px;
  margin: $spacer-sm auto $spacer-xl;
  position: relative;
  width: 64px;

  div {
    animation: loader 1.2s linear infinite;
    transform-origin: 32px 32px;

    &::after {
      background: $brand-primary;
      border-radius: 20%;
      content: " ";
      display: block;
      height: 14px;
      left: 29px;
      position: absolute;
      top: 3px;
      width: 5px;
    }

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: (1.2s - ($i / 10));
        transform: rotate((($i - 1) * 30deg))
      }
    }
  }
}
