@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin line-clamp($lines, $line-height: #{$line-height-base}, $height: calc(#{$line-height} * #{$lines}em)) {
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: $height;
  -webkit-line-clamp: $lines;
  line-height: $line-height;
  max-height: calc(#{$line-height} * #{$lines}em);
  overflow: hidden;
}

@mixin comment-tool() {
  background-color: $brand-primary;
  border-radius: 50%;
  height: 28px;
  padding: 4px;
  width: 28px;

  &::before,
  &::after {
    content: '';
  }

  &::before {
    background: url("/public/images/comments.svg") center / contain no-repeat;
    display: block;
    height: 100%;
    width: 100%;
  }

  &::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $brand-primary;
    display: block;
  }
}

