.custom-pagination > li {

  > a {
    border-radius: 3px;
    padding: 0 $spacer-xs;
  }

  &.active > a {
    font-weight: $font-weight-bold;
  }

  + li a {
    margin-left: $spacer-xs;
  }

  &:first-child,
  &:last-child {
    font-weight: $font-weight-bold;
  }
}
