.popup {
  background: #fafafa;
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.unauthed-popup {
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 2px 38px 0 rgba($black, 0.23);

  .errors {
    ul {
      list-style: none;
      padding: 0;
      li {
        background: #f9f2f4;
        color: #c7254e;
        border-radius: 3px;
        padding: 3px 6px;
        margin-bottom: 4px;
      }
    }
  }
  & > .row {
    width: 300px;
    padding-top: 28px;
    padding-bottom: 28px;
    .form-group {
      input {
        margin-top: 0px;
      }
    }
  }

  & > .row:last-child {
    padding-bottom: 0;
  }
}
