@include text-emphasis-variant('.text-dark', $text-color-dark);
@include text-emphasis-variant('.text-light', $mx-light-gray);

.title-md {
  font-size: ($font-size-h2 - 5);
  @media (max-width: $screen-max) {
    font-size: $font-size-h3;
  }
}

.text-secondary {
  font-family: $font-family-serif;
}

.text-normal {
  font-weight: $font-weight-regular;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.title-section {
  border-bottom: 1px solid $brand-gray-light;
  font: $font-weight-semibold ($font-size-large - 1) $font-family-serif;
  padding-bottom: $spacer-xs;
}

.excerpt-sm {
  font-size: $font-size-small;
}

.excerpt-xs {
  font-size: $font-size-xs;
}

.excerpt-xs-mobile {
  @media (max-width: $screen-max) {
    font-size: $font-size-xs;
  }
}

.excerpt-xxs {
  font-size: ($font-size-xs - 2);
}

.main-banner__title {
  font-size: ($font-size-h2 + 2);
  margin: 0 0 $spacer;
  vertical-align: middle;
  @media (min-width: $screen-min) {
    padding-right: 11%;
  }
  @media (max-width: $screen-max) {
    font-size: ($font-size-large + 1);
    line-height: 1.5;
  }
}

.main-banner__excerpt {
  font-size: ($font-size-large - 1);
  font-weight: $font-weight-bold;
  margin: 0 0 $spacer-rg;
  @media (min-width: $screen-min) {
    padding-right: 16%;
  }
  @media (max-width: $screen-max) {
    font-size: ($font-size-small + 2);
  }
}

.card__title {
  font-size: ($font-size-small - 1);
  margin-top: 0;
  @include line-clamp(3, $headings-line-height);
}
