.mt-0 { margin-top: 0; }

.m-0 { margin: 0; }

.mb-1 { margin-bottom: ($spacer-sm / 2); }

.mr-2 { margin-right: $spacer-sm; }

.ml-2 { margin-left: $spacer-sm; }

.mb-4 { margin-bottom: $spacer-md; }

.mb-5 { margin-bottom: $spacer-lg; }

.mt-5 { margin-top: $spacer-lg; }

.my-5 {
  @extend .mt-5;
  @extend .mb-5;
}

.mb-6 { margin-bottom: $spacer-xl; }

.mt-6 { margin-top: $spacer-xl; }

.my-6 {
  @extend .mt-6;
  @extend .mb-6;
}

.px-3 {
  padding-bottom: $spacer;
  padding-top: $spacer;
}

.pos-r { position: relative; }

.h-100 { height: 100%; }

.align-self-center { align-self: center; }
