//
// ────────────────────────────────────────────────────────────
// Colors
// ────────────────────────────────────────────────────────────
//

$black:                   hsl(0, 0, 0);
$white:                   hsl(0, 0, 100%);

$brand-primary:           #1bb600;
$brand-danger:            #9D2449;
$brand-light:             #f8f8f8;
$brand-lighter:           #f4f4f4;

$gray-light:              #d3d3d3;

$brand-gray:              #393C3E;
$brand-gray-light:        #979797;
$brand-gray-lighter:      #e6e6e6;
$brand-red:               #D0021B;
$border-color:            #D5D5D5;
$border-color-light:      #E0E0E0;
$footer-brand:            #28292A;
$brand-blue:              #4A90E2;
$brand-selected:          rgba($brand-primary, 0.37);

$text-color-dark:         #4a4e4e;
$text-color:              #5a5a5a;
$text-color-light:        #9b9b9b;

$link-color:              $brand-primary;
$link-decoration:         none;
$link-active-color:       darken($link-color, 5%);

$blue-header:             #4196f0;
$red-header:              #d60003;

$black-grad-start:        #353535;
$black-grad-end:          $black;

$blue-grad-start:         #55a7fb;
$blue-grad-end:           #2e74bc;

$dark-gray:               #4b4b4b;
$light-gray:              #fafafa;
$has-notes-gray:          rgb(235, 239, 243);
$bg-gray:                 #f5f5f5;
$bg-gray-light:           #f3f3f3;

$black-button-start:      #484848;
$black-button-end:        $black;

$comment-color:           #fffac1;
$suggestion-color:        #ececec;

$facebook:                #2b4188;
$twitter:                 #50aaef;
$linkedin:                #0079b7;

$mx-white:                $white;
$mx-black:                #262629;
$mx-dark-gray:            #393C3E;
$mx-gray:                 #545454;
$mx-light-gray:           #bababa;
$mx-lighter-gray:         #bdbdbd;
$mx-smoke:                #c9c9c9;

$mx-red:                  #d0021b;
$mx-dark-blue:            #1122cc;
$mx-blue:                 #4a90e2;

$mx-green:                #00cc99;
$mx-light-green:          #009999;

//
// ────────────────────────────────────────────────────────────
// Typography
// ────────────────────────────────────────────────────────────
//

$icon-font-path:          "../fonts/";

$font-weight-light:       300;
$font-weight-regular:     400;
$font-weight-semibold:    600;
$font-weight-bold:        700;

$fonts:
  "Light"     $font-weight-light,
  "Regular"   $font-weight-regular,
  "SemiBold"  $font-weight-semibold,
  "Bold"      $font-weight-bold;

@each $weight in $fonts {

  @font-face {
    font-display: optional;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: nth($weight, 2);
    src: url("public/fonts/metropolis/woff2/Metropolis-#{nth($weight, 1)}.woff2") format("woff2"),
         url("public/fonts/metropolis/woff/Metropolis-#{nth($weight, 1)}.woff") format("woff"),
         url("public/fonts/metropolis/truetype/Metropolis-#{nth($weight, 1)}.ttf") format("truetype");
  }
}

$font-family-sans-serif: "Metropolis", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-size-base:          18px;
$font-size-large:         ceil(($font-size-base * 1.15)); // ~21px
$font-size-small:         ceil(($font-size-base * 0.75)); // ~14px
$font-size-xs:            ceil(($font-size-base * 0.65)); // ~12px

$font-size-h1:            floor(($font-size-base * 3.0)); // ~54px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~38px
$font-size-h3:            ceil(($font-size-base * 1.55)); // ~28px
$font-size-h4:            ceil(($font-size-base * 1.29)); // ~24px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$headings-font-weight:    $font-weight-semibold;
$headings-line-height:    1.2;

//
// ────────────────────────────────────────────────────────────
// Components
// ────────────────────────────────────────────────────────────
//

$spacer-xs:               5px;
$spacer-sm:               10px;
$spacer:                  15px;
$spacer-rg:               20px;
$spacer-md:               25px;
$spacer-lg:               40px;
$spacer-xl:               50px;

$mx-radius:               5px;
$mx-radius-medium:        3px;
$mx-radius-small:         2px;

$brand-margin:            40px;
$banner-height:           300px;

$transition-base:         all 0.2s ease;

//
// ────────────────────────────────────────────────────────────
// Breakpoints
// ────────────────────────────────────────────────────────────
//

$screen-min:              576px;
$screen-max:              575.98px;

//
// ────────────────────────────────────────────────────────────
// Navbar
// ────────────────────────────────────────────────────────────
//

$navbar-height:              70px;
$navbar-border-radius:       0;
$navbar-padding-horizontal:  15px;
$navbar-padding-vertical:    5px;

//
// ────────────────────────────────────────────────────────────
// Buttons
// ────────────────────────────────────────────────────────────
//

$btn-font-weight:                $font-weight-semibold;
$btn-border-radius-large:        6px;

//
// ────────────────────────────────────────────────────────────
// Breadcrumbs
// ────────────────────────────────────────────────────────────
//

$breadcrumb-padding-vertical:    $spacer-sm;
$breadcrumb-padding-horizontal:  0;
$breadcrumb-bg:                  inherit;
$breadcrumb-color:               #4a4e4e;

//
// ────────────────────────────────────────────────────────────
// Pagination
// ────────────────────────────────────────────────────────────
//

$pagination-color:                     $text-color-dark;
$pagination-border:                    transparent;

$pagination-hover-color:               $text-color;
$pagination-hover-bg:                  $white;
$pagination-hover-border:              $text-color-dark;

$pagination-active-color:              $pagination-color;
$pagination-active-bg:                 $white;;
$pagination-active-border:             $brand-gray-light;

$pagination-disabled-color:            $text-color;
$pagination-disabled-border:           $pagination-border;
