.footer {
  font-size: ($font-size-xs + 1);

  div {
    font-size: ($font-size-xs - 1);
  }

  &__row-top {
    border-top: 3px solid $gray-lighter;
    color: $mx-light-gray;
    padding: $spacer-rg;
  }

  &__row-bottom > .container {
    color: $mx-smoke;
    padding: $spacer-rg 0;
    @media (max-width: $screen-max) {
      flex-direction: column;
      padding-left: $spacer;
      padding-right: $spacer;
      text-align: center;

      .footer__logo {
        margin-bottom: ($spacer-md + 5);
        margin-right: 0;
      }
    }
  }

  &__logo {
    height: 35px;
    margin-right: $spacer-xl;
  }
}

