.navbar-custom {
  box-shadow: 0 2px 4px rgba(black, 0.18);
  @media (max-width: $screen-xs-max) {
    min-height: 50px;

    .navbar-brand {
      height: 50px;
    }
  }
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar-brand-secondary {
  border-left: 1px solid;
  display: flex;
  height: ($navbar-height - 20);
  margin-top: $spacer-sm;
  padding-left: $spacer;
  width: 80px;
  @media (max-width: $screen-xs-max) {
    height: 30px;
  }

  h2 {
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    margin: auto 0;
    @media (max-width: $screen-xs-max) {
      font-size: ($font-size-xs - 2);
    }
  }
}

.navigation {
  align-items: center;
  display: flex;
  font-size: $font-size-xs;

  &__nav {
    margin-left: auto;

    li + li {
      margin-left: ($spacer-md + 10);
    }
  }

  &--header li {
    position: relative;

    &::after {
      background-color: $brand-primary;
      bottom: -3px;
      clip-path: inset(0 50%);
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      transition: $transition-base;
      width: 100%;
    }

    &:hover,
    &.active {

      &::after {
        clip-path: inset(0);
      }

      a {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}
